<div class="summary">
  <h2>Your Order</h2>

  <h3>Items</h3>

  <ul class="items">
    <li class="item" *ngFor="let item of cart.products">
      <img class="item__image" [src]="item.product.mainImage" [alt]="item.product.name" />

      <div class="item__details">
        <h4 class="item__name">{{ item.product.name }}</h4>
        <span>Size: {{ item.size }}</span>
        <span>
          {{ item.product.price.amount | currency: item.product.price.currency }}
        </span>
        <span>Quantity: {{ item.quantity }}</span>
      </div>

      <button
        class="item__delete"
        (click)="remove(item.product.id, item.size)"
        [ngClass]="{ hidden: hideElements }"
      >
        Remove
      </button>
    </li>
  </ul>

  <h3>Delivery</h3>

  <div class="delivery">
    <h4>Standard</h4>
    <span>{{ cart.delivery | currency: cart.currency }}</span>
  </div>

  <h3>Total</h3>
  <div class="total">
    <h4>Including V.A.T.</h4>
    <span>{{ cart.total + cart.delivery | currency: cart.currency }}</span>
  </div>
</div>
