$primary-color: var(--background-color);
$primary-color-darker: var(--font-color-lighter);
$background-color: var(--font-color);

.summary {
  background: $background-color;
  color: $primary-color;
  min-height: 100%;
}

h2 {
  background: $background-color;
  border-bottom: 1px solid $primary-color;
  border-top: 1px solid var(--background-color);
  position: sticky;
  top: 2.95rem;
  z-index: 99;
}

h3 {
  border-bottom: 1px dashed $primary-color-darker;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 1em;
  text-align: left;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  font-size: 0.8775rem;
}

.items {
  margin: 0;
  list-style: none;
  padding: 0;
}

.item {
  align-items: center;
  border-bottom: 1px dashed $primary-color-darker;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 1em;
  position: relative;
  width: 100%;

  &:first-of-type {
    margin-top: 1em;
  }

  &:last-of-type {
    border-bottom: 1px solid $primary-color;
    margin-bottom: 0;
  }

  &__image {
    margin: 0 1rem;
    padding: 0.5%;
    width: 12%;
    background: var(--background-color);
  }

  &__details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.75em;
    justify-content: flex-start;
    margin-right: 1em;
    width: 100%;

    span {
      &:not(:last-of-type) {
        border-right: 1px solid var(--font-color-lighter);
        margin-right: 1em;
        padding-right: 1em;
      }
    }
  }

  &__name {
    font-size: 0.8775rem;
    font-weight: 400;
    margin: 0 0 0.25em;
    text-transform: uppercase;
    width: 100%;
  }

  &__delete {
    cursor: pointer;
    font-size: 0.6em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: transparent;
    border: none;
    color: var(--font-color-lighter);
    outline: none;
    padding: 1rem;
    transition: 0.2s all;

    &.hidden {
      opacity: 0;
    }

    &:hover,
    &:active {
      color: $primary-color;
    }
  }
}

.delivery,
.total {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery {
  border-bottom: 1px solid $primary-color;
}
