.plp {
  background: var(--font-color);

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 500;
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1px;
    background: var(--background-color);
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-gap: 1px;
    border-bottom: 1px solid var(--font-color);
  }
}

@media only screen and (min-width: 400px) {
  .plp__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 600px) {
  .plp__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .plp__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
