<div class="plp">
  <ul class="plp__container" *ngIf="products.length > 0">
    <app-product-block
      *ngFor="let product of products"
      [product]="product"
    ></app-product-block>
  </ul>
</div>

<app-recently-viewed></app-recently-viewed>
