.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: calc(100vh - 2.95rem);

  &__steps {
    display: flex;
    flex-direction: column;

    &__body {
      flex: 1;
    }
  }
}

@media only screen and (min-width: 600px) {
  .checkout {
    flex-direction: row;

    > section {
      flex: 1;
      min-height: calc(100vh - 2.95rem);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .checkout {
    > section {
      &:first-of-type {
        flex: 1;
      }

      &:last-of-type {
        flex: 2;
      }
    }
  }
}
