<div class="checkout">
  <section class="checkout__cart-summary">
    <app-cart-summary></app-cart-summary>
  </section>

  <section class="checkout__steps">
    <app-checkout-header></app-checkout-header>

    <div class="checkout__steps__body">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
