<h2 class="checkout-header">
  <a
    routerLink="/checkout/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [ngClass]="{ available: addressRouteAvailable }"
  >
    Address
  </a>

  <span class="spacer"></span>

  <a
    routerLink="/checkout/payment"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [ngClass]="{ available: paymentRouteAvailable }"
  >
    Payment
  </a>

  <span class="spacer"></span>

  <a
    routerLink="/checkout/complete"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Complete
  </a>
</h2>
