.checkout-header {
  background: var(--background-color);
  border-top: 1px solid var(--background-color);
  position: sticky;
  top: 2.95rem;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;

  a {
    background: var(--background-color);
    color: var(--font-color);
    cursor: default;
    display: inline;
    letter-spacing: 0.2em;
    padding: 0.5em;
    pointer-events: none;
    position: relative;
    text-decoration: none;
    user-select: none;

    &::after,
    &::before {
      content: '';
      background: var(--font-color);
      top: -1px;
      height: calc(100% + 2px);
      width: 0;
      position: absolute;
      z-index: -1;
      transition: 0.2s;
    }

    &::after {
      left: -1px;
    }

    &::before {
      right: -1px;
    }

    &.available {
      cursor: pointer;
      pointer-events: initial;
    }

    &.active {
      &::before {
        width: calc(50% + 2px);
      }

      &::after {
        width: calc(50% + 2px);
      }
    }
  }

  .spacer {
    flex: 1;
    position: relative;

    &::after {
      content: '';
      background: var(--font-color);
      position: absolute;
      height: 1px;
      top: 50%;
      left: 0;
      width: 100%;
    }
  }
}
