.confirm {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    border-bottom: 1px dashed var(--font-color-lighter);
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 1em;
    text-align: left;
    text-transform: uppercase;
  }

  &__details {
    flex: 1;
  }

  &__content {
    padding: 1em;
    list-style: none;
    margin: 0;
    font-weight: 300;
  }

  &__addresses {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__address {
    flex: 1;
    border-bottom: 1px solid var(--font-color);

    &:first-of-type {
      border-right: 1px solid var(--font-color);
    }
  }

  &__payment {
    border-bottom: 1px solid var(--font-color);
  }

  &__total {
  }

  &__continue-button {
    background: var(--cta);
    border: none;
    border-top: 1px solid var(--font-color);
    color: var(--background-color);
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.2em;
    outline: none;
    padding: 1.5em;
    text-transform: uppercase;
    transition: 0.2s all;
    width: 100%;

    &:disabled {
      background: var(--background-color);
      color: var(--font-color-lighter);
      cursor: default;
    }
  }
}
