<div class="confirm">
  <div class="confirm__details">
    <div class="confirm__addresses">
      <div class="confirm__address">
        <h3>Delivery Address</h3>
        <ul class="confirm__content">
          <li>{{ addresses.delivery.value.name }}</li>
          <li>{{ addresses.delivery.value.line1 }}</li>
          <li>{{ addresses.delivery.value.line2 }}</li>
          <li>{{ addresses.delivery.value.city }}</li>
          <li>{{ addresses.delivery.value.postcode }}</li>
        </ul>
      </div>

      <div class="confirm__address">
        <h3>Billing Address</h3>
        <ul class="confirm__content">
          <li>{{ addresses.billing.value.name }}</li>
          <li>{{ addresses.billing.value.line1 }}</li>
          <li>{{ addresses.billing.value.line2 }}</li>
          <li>{{ addresses.billing.value.city }}</li>
          <li>{{ addresses.billing.value.postcode }}</li>
        </ul>
      </div>
    </div>

    <div class="confirm__payment">
      <h3>Payment Details</h3>

      <ul class="confirm__content">
        <li>
          <label>Card Number:</label>
          {{ cardDetails.value.number }}
        </li>
        <li>
          <label>Name:</label>
          {{ cardDetails.value.name }}
        </li>
        <li>
          <label>Expiry Date:</label>
          {{ cardDetails.value.month }} /
          {{ cardDetails.value.year }}
        </li>
      </ul>
    </div>

    <div class="confirm__total">
      <h3>Total</h3>

      <p class="confirm__content">
        Total to pay: {{ cart.total + cart.delivery | currency: 'GBP' }}
      </p>
    </div>
  </div>

  <button class="confirm__continue-button" [disabled]="!continueEnabled" (click)="onSubmit()">
    Place your order &rarr;
  </button>
</div>
