<li *ngIf="product.id" class="product-block" (click)="goToProduct(product)">
  <div class="product-block__details">
    <div class="product-block__image">
      <img src="{{ product.mainImage }}" alt="{{ product.name }}" />
    </div>

    <h3 class="product-block__name">{{ product.name }}</h3>

    <span class="product-block__price">
      {{ product.price.amount | currency: product.price.currency }}
    </span>
  </div>

  <button class="product-block__cta-button">Shop Now &rarr;</button>
</li>

<li *ngIf="!product.id" class="product-block"></li>
