.product-block {
  background: var(--background-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: center;

  &:hover {
    button {
      background: var(--cta);
      border-top: 1px dashed transparent;
      color: var(--background-color);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 1em;
  }

  &__image {
    padding: 1em;

    img {
      height: auto;
      width: 100%;
    }
  }

  &__name {
    font-size: 0.75em;
    font-weight: 500;
  }

  &__price {
    font-size: 0.75em;
  }

  &__cta-button {
    background: var(--background-color);
    border: none;
    border-top: 1px dashed var(--font-color-lighter);
    color: var(--font-color);
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.1em;
    outline: none;
    padding: 1.5em;
    text-transform: uppercase;
    transition: 0.2s all;
  }
}
