<div class="pdp" *ngIf="product">
  <section class="pdp__image">
    <img src="{{ product.mainImage }}" alt="{{ product.name }}" />
  </section>

  <section class="pdp__details">
    <div class="pdp__details__top">
      <h2 class="pdp__title">{{ product.name }}</h2>
    </div>

    <div class="pdp__details__middle">
      <p class="pdp__description">{{ product.description }}</p>

      <div class="pdp__specs">
        <table>
          <tr>
            <th>SKU</th>
            <td>{{ product.SKU }}</td>
          </tr>
          <tr>
            <th>Brand</th>
            <td>{{ product.brandName }}</td>
          </tr>
          <tr>
            <th>Colour</th>
            <td>{{ product.colour }}</td>
          </tr>
          <tr>
            <th>Price</th>
            <td>{{ product.price.amount | currency: product.price.currency }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="pdp__details__bottom">
      <div class="pdp__sizes">
        <label>Select a size:</label>

        <ul>
          <li *ngFor="let size of product.sizes">
            <button
              class="pdp__size"
              [class.selected]="size === selectedSize"
              [disabled]="product.stockStatus !== 'IN STOCK'"
              (click)="selectSize(size)"
            >
              {{ size }}
            </button>
          </li>
        </ul>
      </div>

      <button
        class="pdp__cta-button"
        [disabled]="!selectedSize"
        (click)="addToBasket(selectedSize)"
      >
        <span *ngIf="product.stockStatus === 'IN STOCK'">Add to Basket &rarr;</span>
        <span *ngIf="product.stockStatus !== 'IN STOCK'">Out of Stock :-(</span>
      </button>
    </div>
  </section>
</div>

<app-recently-viewed></app-recently-viewed>
