.pdp {
  background: var(--font-color);
  border-bottom: 1px solid var(--font-color);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
  width: 100%;

  &__image {
    align-items: center;
    background: var(--background-color);
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 1em;

    img {
      height: auto;
      width: 100%;
    }
  }

  &__details {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__middle {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: stretch;
    }
  }

  &__description {
    align-items: center;
    border-bottom: 1px solid var(--font-color);
    display: flex;
    flex: 1;
    font-weight: 300;
    margin: 0;
    padding: 2rem;
    text-align: justify;
  }

  &__specs {
    align-items: center;
    border-bottom: 1px solid var(--font-color);
    display: flex;
    flex: 1;
    padding: 2rem;

    table {
      table-layout: fixed;
      width: 100%;

      th {
        font-weight: 400;
        padding: 0.4em 0.5em 0.3em;
        text-align: right;
        width: 50%;
      }

      td {
        font-weight: 300;
        padding: 0.3em 0.5em;
        text-align: left;
        text-transform: capitalize;
      }
    }
  }

  &__sizes {
    width: 100%;

    label {
      border-bottom: 1px solid var(--font-color);
      display: block;
      font-size: 0.75em;
      font-weight: 500;
      letter-spacing: 0.2em;
      padding: 1rem 2rem;
      text-transform: uppercase;
    }

    ul {
      background: var(--font-color);
      display: grid;
      grid-gap: 1px;
      grid-template-columns: repeat(4, 1fr);
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  &__size {
    background: var(--background-color);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 1em;
    text-align: center;
    transition: 0.2s all;
    width: 100%;

    &.selected,
    &:hover {
      background: var(--font-color);
      color: var(--background-color);
    }
  }

  &__cta-button {
    background: var(--cta);
    border: none;
    border-top: 1px solid var(--font-color);
    color: var(--background-color);
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.2em;
    outline: none;
    padding: 1.5em;
    text-transform: uppercase;
    transition: 0.2s all;
    width: 100%;

    &:disabled {
      background: var(--background-color);
      color: var(--font-color-lighter);
      cursor: default;
    }
  }
}

@media only screen and (max-width: 600px) {
  .pdp {
    grid-template-columns: 1fr;
  }

  .pdp__size {
    padding: 1em 2em;
  }
}
