.cart {
  position: relative;
  color: var(--font-color);

  &__toggle {
    color: var(--background-color);
    text-transform: uppercase;

    &:disabled {
      cursor: default;
    }
  }

  &__background {
    background: var(--font-color);
    height: 100vh;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 100%;
    transition: 0.1s all;
    visibility: hidden;
    width: 100vw;

    &.visible {
      opacity: 0.5;
    }
  }

  &__contents {
    background: var(--background-color);
    border-bottom: 1px solid var(--font-color);
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateX(100%);
    transition: 0.1s all;
    visibility: hidden;
    width: 100vw;

    &.visible {
      transform: translateX(0);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  &__item {
    align-items: center;
    border-top: 1px dashed var(--font-color-lighter);
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
    padding-top: 1em;
    position: relative;
    width: 100%;

    &:first-of-type {
      margin-top: 0;
      border-top: none;
    }

    &__image {
      background: var(--background-color);
      cursor: pointer;
      margin: 0 1rem;
      padding: 0.5%;
      width: 12%;
    }

    &__details {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 0.75em;
      justify-content: flex-start;
      margin-right: 1em;
      width: 100%;

      span {
        &:not(:last-of-type) {
          border-right: 1px solid var(--font-color-lighter);
          margin-right: 1em;
          padding-right: 1em;
        }
      }
    }

    &__name {
      font-weight: 400;
      margin: 0 0 0.25em;
      text-transform: uppercase;
      width: 100%;
    }

    &__delete {
      color: var(--font-color-lighter);
      font-size: 0.6em;
      font-weight: 300;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: 0.2s all;

      &:hover,
      &:active {
        color: var(--font-color);
      }
    }
  }

  &__total {
    border-bottom: 1px solid var(--font-color);
    border-top: 1px solid var(--font-color);
    display: flex;
    flex-direction: row;
    font-size: 0.8775rem;
    font-weight: 400;
    justify-content: space-between;
    margin-top: 1em;
    padding: 1em;
    text-transform: uppercase;
  }

  &__checkout {
    color: var(--font-color);
    letter-spacing: 0.2em;
    padding: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    transition: 0.2s;

    &:hover {
      background: var(--cta);
      color: var(--background-color);
    }
  }
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 1rem;
}

.visible {
  visibility: visible;
}

@media only screen and (min-width: 600px) {
  .cart__contents {
    border-left: 1px solid var(--font-color);
    width: calc(50vw + 1px);
  }
}
