<section class="cart">
  <button
    class="cart__toggle"
    (click)="toggleCart()"
    [disabled]="router.url.includes('checkout')"
  >
    Cart ({{ cart.quantity }})
  </button>

  <div
    class="cart__background"
    [ngClass]="{ visible: cart.visible }"
    (click)="toggleCart()"
  ></div>

  <div class="cart__contents" [ngClass]="{ visible: cart.visible }">
    <ul>
      <li class="cart__item" *ngFor="let item of cart.products">
        <img
          class="cart__item__image"
          [src]="item.product.mainImage"
          [alt]="item.product.name"
          (click)="goToProduct(item.product.id)"
        />

        <div class="cart__item__details" (click)="goToProduct(item.product.id)">
          <h3 class="cart__item__name">{{ item.product.name }}</h3>
          <span>Size: {{ item.size }}</span>
          <span>
            {{ item.product.price.amount | currency: item.product.price.currency }}
          </span>
          <span>Quantity: {{ item.quantity }}</span>
        </div>

        <button class="cart__item__delete" (click)="remove(item.product.id, item.size)">
          Remove
        </button>
      </li>

      <li class="cart__total">
        <label>Total</label>
        <span>{{ cart.total | currency: 'GBP' }} </span>
      </li>
    </ul>

    <button class="cart__checkout" (click)="goToCheckout()">Checkout &rarr;</button>
  </div>
</section>
