<form class="address" (ngSubmit)="onSubmit()">
  <div class="address__container">
    <div>
      <h3>Delivery</h3>
      <div class="address__form" [formGroup]="deliveryAddress">
        <label for="dName">Name</label>
        <input
          formControlName="name"
          type="text"
          id="dName"
          name="name"
          placeholder="Joe Smith"
        />

        <label for="dAddress1">Address Line 1</label>
        <input
          formControlName="line1"
          type="text"
          id="dAddress1"
          name="address1"
          placeholder="ABC House"
        />

        <label for="dAddress2">Address Line 2</label>
        <input
          formControlName="line2"
          type="text"
          id="dAddress2"
          name="address2"
          placeholder="50 Street Street"
        />

        <label for="dCity">City</label>
        <input
          formControlName="city"
          type="text"
          id="dCity"
          name="city"
          placeholder="Manchester"
        />

        <label for="dPostcode">Postcode</label>
        <input
          formControlName="postcode"
          type="text"
          id="dPostcode"
          name="postcode"
          placeholder="M1 1AA"
        />
      </div>

      <button
        type="button"
        class="address__copy-button"
        (click)="copyDeliveryToBillingAddress()"
        [disabled]="!deliveryAddress.valid"
      >
        Copy delivery to billing address &rarr;
      </button>
    </div>

    <div>
      <h3>Billing</h3>
      <div class="address__form" [formGroup]="billingAddress">
        <label for="bName">Name</label>
        <input
          formControlName="name"
          type="text"
          id="bName"
          name="name"
          placeholder="Joe Smith"
        />

        <label for="bAddress1">Address Line 1</label>
        <input
          formControlName="line1"
          type="text"
          id="bAddress1"
          name="address1"
          placeholder="ABC House"
        />

        <label for="bAddress2">Address Line 2</label>
        <input
          formControlName="line2"
          type="text"
          id="bAddress2"
          name="address2"
          placeholder="50 Street Street"
        />

        <label for="bCity">City</label>
        <input
          formControlName="city"
          type="text"
          id="bCity"
          name="city"
          placeholder="Manchester"
        />

        <label for="bPostcode">Postcode</label>
        <input
          formControlName="postcode"
          type="text"
          id="bPostcode"
          name="postcode"
          placeholder="M1 1AA"
        />
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="address__continue-button"
    (click)="onSubmit()"
    [disabled]="!continueEnabled"
  >
    Continue to payment &rarr;
  </button>
</form>
