h3 {
  border-bottom: 1px dashed var(--font-color-lighter);
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 1em;
  text-align: left;
  text-transform: uppercase;
}

label {
  display: block;
  font-size: 0.6rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  user-select: none;
}

input {
  border: none;
  border-bottom: 1px solid var(--font-color);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0);
  display: block;
  margin-bottom: 2rem;
  padding: 0.5em;
  transition: 0.2s all;
  width: 100%;

  &:focus {
    box-shadow: 0 1px 0 0 var(--font-color);
    outline: none;
  }

  &:last-of-type {
    margin-bottom: 1rem;
  }

  &.ng-touched.ng-invalid {
    border-bottom: 1px solid var(--cta);
    box-shadow: 0 1px 0 0 var(--cta);
  }
}

button {
  background: var(--background-color);
  border: none;
  cursor: pointer;
  font-weight: 400;
  outline: none;
  text-transform: uppercase;
  transition: 0.2s;
  width: 100%;

  &:disabled {
    color: var(--font-color-lighter);
    cursor: default;
  }
}

.address {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;

  &__container {
    > div {
      width: 100%;
      border-bottom: 1px solid var(--font-color);

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  &__form {
    padding: 1em;
  }

  &__copy-button {
    border-top: 1px dashed var(--font-color-lighter);
    color: var(--font-color);
    font-size: 0.6rem;
    letter-spacing: 0.1em;
    padding: 1rem;

    &:not(:disabled):hover {
      background: var(--cta);
      border-top: 1px solid var(--cta);
      color: var(--background-color);
    }
  }

  &__continue-button {
    background: var(--cta);
    border-top: 1px solid var(--font-color);
    color: var(--background-color);
    font-size: 1.1em;
    letter-spacing: 0.2em;
    padding: 1.5em;

    &:disabled {
      background: var(--background-color);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .address__container {
    display: flex;
    flex-direction: row;
    flex: 1;

    > div {
      width: 50%;
      border-bottom: none;

      &:first-of-type {
        border-right: 1px solid var(--font-color);
      }
    }
  }
}
