.header {
  background: var(--font-color);
  color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;


  h1 {
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.5em;
    margin: 0;
    padding: 0.5em 1em;
    text-transform: uppercase;
  }
}

.spacer {
  height: 2.95em;
}
