.complete {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    flex: 1;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__continue {
    background: var(--cta);
    border: none;
    border-top: 1px solid var(--font-color);
    color: var(--background-color);
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.2em;
    outline: none;
    padding: 1.5em;
    text-transform: uppercase;
    transition: 0.2s all;
    width: 100%;
  }
}
