h3 {
  border-bottom: 1px dashed var(--font-color-lighter);
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 1em;
  text-align: left;
  text-transform: uppercase;
}

label {
  display: block;
  font-size: 0.6rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
}

input {
  border: none;
  border-bottom: 1px solid var(--font-color);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0);
  display: block;
  margin-bottom: 2rem;
  padding: 0.5em;
  transition: 0.2s all;
  width: 100%;

  &:focus {
    box-shadow: 0 1px 0 0 var(--font-color);
    outline: none;
  }

  &.ng-touched.ng-invalid {
    border-bottom: 1px solid var(--cta);
    box-shadow: 0 1px 0 0 var(--cta);
  }
}

.payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  &__card-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    max-width: 500px;
    padding: 1em;

    &__double-field {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      > div {
        width: calc(50% - 0.5em);
      }
    }

    &__date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      input {
        width: calc(50% - 0.5em);
      }
    }
  }

  &__continue-button {
    background: var(--cta);
    border: none;
    border-top: 1px solid var(--font-color);
    color: var(--background-color);
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.2em;
    outline: none;
    padding: 1.5em;
    text-transform: uppercase;
    transition: 0.2s all;
    width: 100%;

    &:disabled {
      background: var(--background-color);
      color: var(--font-color-lighter);
      cursor: default;
    }
  }
}
