<form class="payment" [formGroup]="cardDetails" (ngSubmit)="onSubmit()">
  <div class="payment__card-details">
    <div class="payment__form">
      <label for="number">Card Number</label>
      <input
        formControlName="number"
        type="tel"
        id="number"
        name="number"
        placeholder="1234567812345678"
        maxlength="16"
      />

      <label for="name">Name</label>
      <input
        formControlName="name"
        type="text"
        id="name"
        name="name"
        placeholder="Joe Smith"
      />

      <div class="payment__form__double-field">
        <div>
          <label for="month">End Date</label>
          <div class="payment__form__date">
            <input
              formControlName="month"
              type="tel"
              id="month"
              name="month"
              placeholder="MM"
              maxlength="2"
            />
            <input
              formControlName="year"
              type="tel"
              id="year"
              name="year"
              placeholder="YY"
              maxlength="2"
            />
          </div>
        </div>

        <div>
          <label for="cvv">cvv</label>
          <input
            formControlName="cvv"
            type="tel"
            id="cvv"
            name="cvv"
            placeholder="123"
            maxlength="3"
          />
        </div>
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="payment__continue-button"
    (click)="onSubmit()"
    [disabled]="this.cardDetails.status !== 'VALID'"
  >
    Place your order &rarr;
  </button>
</form>
