<section class="recently-viewed" *ngIf="products.length > 0">
  <h3 class="recently-viewed__title">Recently Viewed</h3>

  <ul class="recently-viewed__container">
    <app-product-block
      *ngFor="let product of products"
      [product]="product"
    ></app-product-block>
  </ul>
</section>
