.recently-viewed {
  &__title {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 500;
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin: 0;
    background: var(--background-color);
    border-bottom: 1px solid var(--font-color);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    grid-gap: 1px;
    background: var(--font-color);
    border-bottom: 1px solid var(--font-color);
  }
}

@media only screen and (min-width: 600px) {
  .recently-viewed__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
