/* You can add global styles to this file, and also import other style files */
:root {
  --cta: #ff5e5b;
  --font-color: #222;
  --font-color-lighter: #999;
  --background-color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  color: var(--font-color);
  font-size: 14px;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.05em;
}

h2 {
  border-bottom: 1px solid var(--font-color);
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

input::placeholder {
  opacity: 0.2;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1rem;
  }
}
